@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a192f;
  color: #8892b0;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #0a192f;
}
::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid #0a192f;
  border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: #ccd6f6;
  line-height: 1.1;
}

.section-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, 32px);
  white-space: nowrap;
}

.section-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #233554;
}

.numbered-heading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 400;
}